---
import Icon from "./Icon.astro";
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="users-three"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Cross-Functional Leader</h2>
		<p>
			I thrive in bringing diverse teams together. With 15+ years of
			experience, I excel at fostering collaboration between engineers,
			designers, marketers, and other stakeholders. This fosters an
			environment where different perspectives are valued, leading to
			well-rounded solutions and successful product launches.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="database"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Data-Driven</h2>
		<p>
			Intuition may be valuable, but data is king. I leverage analytics
			and market research to make informed decisions throughout the
			product development lifecycle. This ensures our solutions address
			real user needs and contribute to positive business outcomes.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="user-check"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>User-Centric</h2>
		<p>
			Putting users at the heart of everything I do is paramount. I
			champion user research and incorporate user feedback into every step
			of the development process. This results in products that are not
			only technically sound but also genuinely meet the needs and desires
			of our target audience.
		</p>
	</div><div class="stack gap-2 lg:gap-4">
		<Icon
			icon="chats-circle"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Effective Communicator</h2>
		<p>
			Bridging the gap between technical and non-technical audiences is a
			core strength. I translate complex concepts into clear and concise
			messages that resonate with everyone involved. My ability to
			communicate effectively fosters strong collaboration and ensures
			everyone is aligned towards a shared vision.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
